

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* -------- Loan Form Styles -------------------   */
.loanform{
    background-color: rgb(231,231,231);
}

    .loanform input{
        width: 100%;
        padding: .5rem;
    }

    .loanform button{
        float: right;
    }

#paymenttitle{
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}


#payments{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #2B404F;
}

#loanbreakDown {
    text-align: center;
}

#tableheader {
    background-color:cadetblue;
}

#totalcost{
    font-weight: bold;
}

.btn:focus {
    box-shadow: none;
}

.btn {
    border: 2px solid black;
    background-color: #ffffff;
}

/* Orange Button*/
.btn-cfOrange {
    border-color: #ff993b;
    color: #2B404F;
}

    .btn-cfOrange:hover {
        background-color: #ff993b;
        color: #212121;
    }